@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #6f6af8;
  --color-white: #fff;
  --color-red: rgb(255, 63, 63);
  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);
  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);
  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;

  --color-bg: hwb(240 95% 0%);

  --transition: all 300ms ease;

  --container-width-lg: 84%;
  --container-width-md: 92%;
  --form-width: 50%;
  --radius-1: 0.3rem;
  --radius-2: 0.6rem;
  --radius-3: 1rem;
  --radius-4: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--color-gray-700);
}
 

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

a {
  color: var(--color-gray-700);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  line-height: 1.4;
}


section {
  margin-top: 6rem; 
}

.container {
  width: var(--container-width-lg);
  margin-inline: auto;
}


.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-2);
  background: var(--color-white);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn.category {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 400;
}

.btn.small {
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  font-weight: 400;
}

.btn.danger {
  background: var(--color-red);
  color: var(--color-white);
}

.btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}



.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error-page h2 {
  margin-top: 3rem;
}



/*======================================= NAVBAR ================================*/
.nav__logo {
  width: 3rem;
  display: block;
}

nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__toggle-btn {
  display: none;
}


/*======================================= FOOTER ================================*/
footer {
  background: var(--color-gray-900);
  margin-top: 6rem;
  padding-top: 6rem;
}

.footer__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.footer__categories a {
  background: var(--color-gray-700);
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius-2);
  transition: var(--transition);
}

.footer__categories a:hover {
  background: var(--color-white);
  color: var(--color-gray-900);
}


.footer__copyright {
  text-align: center;
  border-top: 2px solid var(--color-gray-700);
  padding: 1rem;
  color: var(--color-white);
  font-weight: 300;
}







/*======================================= HERO ================================*/

.hero__image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero__image-one {
  grid-row: 1;
  grid-column: 1;
}

.hero__image-two {
  grid-row: 1;
  grid-column: 2;
}

.call__to-action {
  gap: 0.8rem;
  padding: 1rem;
  text-align: center;
}

.call__to-action-btn {
  background: var(--color-primary);
  border-radius: var(--radius-2);
  text-align: center;
  width: 400px;
  height:50px;
  font-weight: 900;
}

.call__to-action-btn a {
  color: var(--color-white);
}


/*======================================= REGISTER & form styles ================================*/
.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  resize: none;
}

.form__error-message {
  background: var(--color-red);
  color: var(--color-white);
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  display: block;
  margin-bottom: 1rem;
}

.register, .login, .create-instructor {
  width: var(--form-width);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}

.register h2, .login h2, .create-instructor h2 {
  margin-bottom: 2rem;
}

.register small, .login small {
  display: block;
  margin-top: 1.5rem;
}

.register small a, .login small a {
  color: var(--color-primary);
}

/*======================================= INSTRUCTORS ================================*/
.instructors__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.instructor {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  transition: var(--transition);
}

.instructor:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0, 0.7);
}

.instructor__avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.3rem solid var(--color-bg);
  overflow: hidden;
}

.instructor__info p {
  margin-top: 1rem;
}

.instructors__header {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 8rem;
}


.add__instructor {
  gap: 0.8rem;
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;
}

.add__instructor-btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}

.add__instructor-btn {
  background: var(--color-primary);
  border-radius: var(--radius-2);
  text-align: center;
  width: 400px;
  height:50px;
  font-weight: 900;
}

.add__instructor-btn a {
  color: var(--color-white);
}


/*======================================= Edit, Delete, View ================================*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 8px;
}

.dropdownButton i {
  font-size: 1.2em;
}

.dropdownContent {
  position: absolute;
  top:30px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 4px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdownContent a:last-child {
  border-bottom: none;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modalShow {
  display: block;
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 4px;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modalContent-yes {
  background-color: #4CAF50;
  color: white;
}

.modalContent-no {
  background-color: #f44336;
  color: white;
}



/*======================================= STUDENTS ================================*/
.students__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.student {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  transition: var(--transition);
}

.student:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0, 0.7);
}

.student__avatar {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.3rem solid var(--color-bg);
  overflow: hidden;
}

.student__info p {
  margin-top: 1rem;
}

.students__header {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 8rem;
}


.add__student {
  gap: 0.8rem;
  padding: 1rem;
  text-align: center;
  margin-top: 5rem;
}

.add__student-btn {
  background: var(--color-primary);
  border-radius: var(--radius-2);
  text-align: center;
  width: 400px;
  height:50px;
  font-weight: 900;
}

.add__student-btn a {
  color: var(--color-white);
}

.add__student-btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}


.create-instructor__form select, option {
  color: var(--color-primary);
}

.create-instructor__form select {
  border: 1px solid;
  padding: 0.8rem 1rem;
  width: 100%;
}

#birthdate::placeholder{
  text-align: center;
}

/*======================================= USER PRFILE ================================*/
.profile__container {
  display: grid;
  place-items: center;
  text-align: center;
}

.student__profile-header {
  text-align: center;
  margin-bottom: 5rem;
}

.profile__details {
  width: 100%;
}

.avatar__wrapper {
  width: 15rem;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
}

.profile__avatar {
  height: 100%;
  border-radius: 50%;
  border: 1rem solid var(--color-white);
  overflow: hidden;
}

.avatar__form {
  height: 1rem;
}

.avatar__form input{
  visibility: hidden;
}

.avatar__form label, .profile__avatar-btn {
  background: var(--color-gray-900);
  color: var(--color-white);
  font-size: 1.3rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.profile__avatar-btn {
  cursor: pointer;
  padding: 0;
  background: var(--color-primary);
}

.profile__details h1 {
  margin-top: 1.5rem;
}

.form.profile__form {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}

.create-unit__form {
  margin-bottom: 15.5rem;
  display: flex;
  flex-direction: row;
}

.create-unit {
  margin-inline: auto;
  width: var(--form-width);
}

.create-unit h2 {
  margin-bottom: 3rem;
}

.create-unit select, option {
  color: var(--color-primary);
}

.create-unit select {
  border: 1px solid;
  padding: 0rem 1rem;
  width: 100%;
}

.create__unit-btn:hover {
  background: var(--color-gray-900);
  color: var(--color-white);
}

.create__unit-btn {
  background: var(--color-primary);
  border-radius: var(--radius-2);
  text-align: center;
  width: 200px;
  height:50px;
  font-weight: 900;
}

.create__unit-btn a {
  color: var(--color-white);
}

/*======================================= UNIT INFORMATION ================================*/
/* .unit-information__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
} */

.unit__info {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-3);
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}

.unit__info:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0, 0.7);
}


.instructor__info p {
  margin-top: 1rem;
}











/*======================================= ATTENDANCE ================================*/

.attendance__form {
  margin-top: 10rem;
}

.attendance {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attendance__form th {
  padding: 3rem;
}

.attendance__form td {
  padding: 1rem 4rem;
}

.attendance__input-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.attendance__input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #bbb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.attendance__input-container input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.attendance__input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.attendance__input-container .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.attendance__input-container input:checked ~ .checkmark::after {
  display: block;
}

.name {
  color: var(--color-primary);
}

.pagination__controls {
  margin-top: 2rem;
}

.pagination__control {
  margin-left: 8rem;
  margin-top: 2rem;
}

.pagination {
  padding: 2rem;
}


.attendance__header {
  position: fixed;
  z-index: 1;
  top: 5rem;
  background: var(255, 255, 255, 0.5);
  border-bottom: 2px solid #bbb;
  backdrop-filter: blur(20px);
}

.attendance__body {
  margin-top: 10rem;
}

.gender {
  margin-left: 8rem;
}


/* Statistics */

.container-graph {
  margin-top: 100px!important;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label,
select {
  display: block;
  margin-bottom: 10px;
}